body {background: url(./fondo.jpg);
		background-attachment: fixed;
		background-attachment: scroll;
	color: #000000;
	font-family: "asap";}
h1 {
	font-size: 2.5em;
	text-align: center;
	background-color: #FFFFFF;
	opacity: 0.5;
}
h2 {
	font-size: 2em;
	position: relative;
	left: 50px;
	align-content: center;
	background-color: #FFFFFF;
	opacity: 0.5;
}
h3 {
	font-size: 2em;
	position: relative;
	align-content: center;
	color: #FF0000;
	background-color: #000000;
}
nav ul li a{
	font-size: 30px;
	margin: 10px 70px;
	background: #D6674C;
	display: inline-block;
	color: #000000;
	padding: 10px 20px;
	text-decoration:none;
	box-shadow: 0px 5px #A74C3A;
}
nav ul li a:hover{
	box-shadow: 0px 2px #4A6040;
}
nav ul li a:active{
	box-shadow: none;
}
footer {
	background:#000;
	color:#fff;
	position: relative;
	top: 200px;

}
footer p {
	position: relative;
	left: 600px;
}